<?xml version="1.0"?>
<configuration>
  <connectionStrings>
    <add name="kuznetsov-nb-8\sql2014.Northwind.dbo" connectionString="XpoProvider=MSSqlServer;data source=KUZNETSOV-NB-8\SQL2014;integrated security=SSPI;initial catalog=Northwind" />
  </connectionStrings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1"/>
    <dependentAssembly>
      <assemblyIdentity name="DevExpress.Charts.v15.2.Core" publicKeyToken="b88d1754d700e49a" culture="neutral"/>
      <codeBase version="15.2.4.16021" href="file://DevExpress.Charts.v15.2.Core.dll/"/>
    </dependentAssembly>
    <dependentAssembly>
      <assemblyIdentity name="DevExpress.Data.v15.2" publicKeyToken="b88d1754d700e49a" culture="neutral"/>
      <codeBase version="15.2.4.0" href="file://DevExpress.Data.v15.2.dll/"/>
    </dependentAssembly>
    <dependentAssembly>
      <assemblyIdentity name="DevExpress.Mvvm.v15.2" publicKeyToken="b88d1754d700e49a" culture="neutral"/>
      <codeBase version="15.2.4.16021" href="file://DevExpress.Mvvm.v15.2.dll/"/>
    </dependentAssembly>
    <dependentAssembly>
      <assemblyIdentity name="DevExpress.Office.v15.2.Core" publicKeyToken="b88d1754d700e49a" culture="neutral"/>
      <codeBase version="15.2.4.16021" href="file://DevExpress.Office.v15.2.Core.dll/"/>
    </dependentAssembly>
    <dependentAssembly>
      <assemblyIdentity name="DevExpress.PivotGrid.v15.2.Core" publicKeyToken="b88d1754d700e49a" culture="neutral"/>
      <codeBase version="15.2.4.16021" href="file://DevExpress.PivotGrid.v15.2.Core.dll/"/>
    </dependentAssembly>
    <dependentAssembly>
      <assemblyIdentity name="DevExpress.Printing.v15.2.Core" publicKeyToken="b88d1754d700e49a" culture="neutral"/>
      <codeBase version="15.2.4.16021" href="file://DevExpress.Printing.v15.2.Core.dll/"/>
    </dependentAssembly>
    <dependentAssembly>
      <assemblyIdentity name="DevExpress.RichEdit.v15.2.Core" publicKeyToken="b88d1754d700e49a" culture="neutral"/>
      <codeBase version="15.2.4.16021" href="file://DevExpress.RichEdit.v15.2.Core.dll/"/>
    </dependentAssembly>
    <dependentAssembly>
      <assemblyIdentity name="DevExpress.Sparkline.v15.2.Core" publicKeyToken="b88d1754d700e49a" culture="neutral"/>
      <codeBase version="15.2.4.16021" href="file://DevExpress.Sparkline.v15.2.Core.dll/"/>
    </dependentAssembly>
    <dependentAssembly>
      <assemblyIdentity name="DevExpress.Utils.v15.2" publicKeyToken="b88d1754d700e49a" culture="neutral"/>
      <codeBase version="15.2.4.16021" href="file://DevExpress.Utils.v15.2.dll/"/>
    </dependentAssembly>
    <dependentAssembly>
      <assemblyIdentity name="DevExpress.Utils.v15.2.UI" publicKeyToken="b88d1754d700e49a" culture="neutral"/>
      <codeBase version="15.2.4.16021" href="file://DevExpress.Utils.v15.2.UI.dll/"/>
    </dependentAssembly>
    <dependentAssembly>
      <assemblyIdentity name="DevExpress.Xpf.Core.v15.2" publicKeyToken="b88d1754d700e49a" culture="neutral"/>
      <codeBase version="15.2.4.16021" href="file://DevExpress.Xpf.Core.v15.2.dll/"/>
    </dependentAssembly>
    <dependentAssembly>
      <assemblyIdentity name="DevExpress.Xpf.Docking.v15.2" publicKeyToken="b88d1754d700e49a" culture="neutral"/>
      <codeBase version="15.2.4.16021" href="file://DevExpress.Xpf.Docking.v15.2.dll/"/>
    </dependentAssembly>
    <dependentAssembly>
      <assemblyIdentity name="DevExpress.Xpf.DocumentViewer.v15.2.Core" publicKeyToken="b88d1754d700e49a" culture="neutral"/>
      <codeBase version="15.2.4.16021" href="file://DevExpress.Xpf.DocumentViewer.v15.2.Core.dll/"/>
    </dependentAssembly>
    <dependentAssembly>
      <assemblyIdentity name="DevExpress.Xpf.Printing.v15.2" publicKeyToken="b88d1754d700e49a" culture="neutral"/>
      <codeBase version="15.2.4.16021" href="file://DevExpress.Xpf.Printing.v15.2.dll/"/>
    </dependentAssembly>
    <dependentAssembly>
      <assemblyIdentity name="DevExpress.Xpf.ReportDesigner.v15.2" publicKeyToken="b88d1754d700e49a" culture="neutral"/>
      <codeBase version="15.2.4.16021" href="file://DevExpress.Xpf.ReportDesigner.v15.2.dll/"/>
    </dependentAssembly>
    <dependentAssembly>
      <assemblyIdentity name="DevExpress.Xpf.Ribbon.v15.2" publicKeyToken="b88d1754d700e49a" culture="neutral"/>
      <codeBase version="15.2.4.16021" href="file://DevExpress.Xpf.Ribbon.v15.2.dll/"/>
    </dependentAssembly>
    <dependentAssembly>
      <assemblyIdentity name="DevExpress.Xpo.v15.2" publicKeyToken="b88d1754d700e49a" culture="neutral"/>
      <codeBase version="15.2.4.16021" href="file://DevExpress.Xpo.v15.2.dll/"/>
    </dependentAssembly>
    <dependentAssembly>
      <assemblyIdentity name="DevExpress.XtraCharts.v15.2" publicKeyToken="b88d1754d700e49a" culture="neutral"/>
      <codeBase version="15.2.4.16021" href="file://DevExpress.XtraCharts.v15.2.dll/"/>
    </dependentAssembly>
    <dependentAssembly>
      <assemblyIdentity name="DevExpress.XtraEditors.v15.2" publicKeyToken="b88d1754d700e49a" culture="neutral"/>
      <codeBase version="15.2.4.16021" href="file://DevExpress.XtraEditors.v15.2.dll/"/>
    </dependentAssembly>
    <dependentAssembly>
      <assemblyIdentity name="DevExpress.XtraGauges.v15.2.Core" publicKeyToken="b88d1754d700e49a" culture="neutral"/>
      <codeBase version="15.2.4.16021" href="file://DevExpress.XtraGauges.v15.2.Core.dll/"/>
    </dependentAssembly>
    <dependentAssembly>
      <assemblyIdentity name="DevExpress.XtraPrinting.v15.2" publicKeyToken="b88d1754d700e49a" culture="neutral"/>
      <codeBase version="15.2.4.16021" href="file://DevExpress.XtraPrinting.v15.2.dll/"/>
    </dependentAssembly>
    <dependentAssembly>
      <assemblyIdentity name="DevExpress.XtraReports.v15.2" publicKeyToken="b88d1754d700e49a" culture="neutral"/>
      <codeBase version="15.2.4.16021" href="file://DevExpress.XtraReports.v15.2.dll/"/>
    </dependentAssembly>
    <dependentAssembly>
      <assemblyIdentity name="DevExpress.XtraReports.v15.2.Extensions" publicKeyToken="b88d1754d700e49a" culture="neutral"/>
      <codeBase version="15.2.4.16021" href="file://DevExpress.XtraReports.v15.2.Extensions.dll/"/>
    </dependentAssembly>
  </runtime>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/></startup></configuration>
